<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495458058260-991n85mj6kj1405f6qmqmseq1cl9t9hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495458058260-991n85mj6kj1405f6qmqmseq1cl9t9hj</string>
	<key>API_KEY</key>
	<string>AIzaSyCKLemOhKcrt_swNBo8ws_upaPLp3uCCqg</string>
	<key>GCM_SENDER_ID</key>
	<string>495458058260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kemiez.expresswayfood</string>
	<key>PROJECT_ID</key>
	<string>restfood-1439f</string>
	<key>STORAGE_BUCKET</key>
	<string>restfood-1439f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495458058260:ios:d5a74f9a7854b3fb9e6701</string>
</dict>
</plist>